@import '../css/reset.css';

@font-face {
    font-family: 'ArchivoBlack-Regular';
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
    
}

@font-face {
    font-family: 'Century_Gothic';
    src: url('../fonts/century_gothic.ttf') format('truetype');
    
}

html {
    font-family: 'ArchivoBlack-Regular', 'Century_Gothic';

}

.logo {
    display: inline-block;
    width: 110px;
    height: 30px;
    text-indent: -9999px;
    background-image: url(../imgs/svg/Imagotipo_PAWPOWER.svg);
    background-size: cover;
}