.formulario_pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: var(--color-celeste);
    font-size: 2rem;
    font-family: 'Century Gothic';
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: .6rem;
}

.container table {
    border-collapse: collapse;
    width: 60vw;
}

.container table,
.container table th,
.container table td {
    border: .1rem solid #666666;
    padding: .8rem;
}

.container table th {
    font-weight: 600;
    color: var(--color-violeta);
}

.container table tfoot td {
    text-align: right;
}

.titulo_carrito {
    position: relative;

}

.container_carrito {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container_carrito table {
    margin: 1rem 1rem;
}

.titulo_carrito::after {
    content: '';
    display: inline;
    width: 3rem;
    height: 3rem;
    background-image: url('../imgs/svg/icono-carrito.svg');
    background-size: cover;
    position: absolute;
    z-index: 1;
    left: 15rem;
    top: -.1rem;
    border: none;
}

.etiqueta,
.campo {
    display: inline;
    width: 75%;
    height: 3rem;
    border-radius: .9rem;
    border: 2px solid transparent;
}

.etiqueta {
    font-size: 1.5rem;
    color: rgb(66, 64, 64);
}

.etiqueta:not(:first-of-type) {
    margin-top: 1rem;
}

.container_formulario {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 2rem;
    width: 60vw;
}

.container_formulario label, 
.container_formulario input, 
.container_formulario legend,
.container_formulario select
{
    display: inline-block;
    width: 35rem;
    margin-left: 2rem;
}

.container_formulario aside {
    position: absolute;
    right: 10rem;
    top: .9rem;
    border: .1rem solid gray;
    padding: 1rem;
}

.container_noticia {
    display: flex;
    justify-content: center;
}

.noticias ul li:nth-child(2n+1) {

}

.noticia {
    border-bottom: 0.1rem solid var(--color-amarillo);
    margin: 1rem 0; /*arriba-abajo a-los-costados*/
    display: grid;
    grid-template-areas: 
    "imagen titulo"
    "imagen descripcion"
    "imagen fecha";
    width: 80%;
    padding: 1rem;
}

.noticia img {
    grid-area: imagen;
    width: 20rem;
    height: 20rem;
}

.noticia h3 {
    grid-area: titulo;
    font-size: xx-large;
    justify-self: center;
}

.noticia p {
    grid-area: descripcion;
    font-family: 'Century_Gothic';
    font-size: 1.2rem;
    padding: 1rem;
}

.noticia time {
    grid-area: fecha;
    justify-self: end;
}

.titulo_portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/sucursales/Sucursal_Interior.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 30rem;
    text-align: center;
    margin-bottom: 5rem;   
}

.titulo_portada h2 {
    color: #ffffff;
    font-size: 8rem;
    font-weight: 800;
}

.titulo_portada p {
    font-family: Century_Gothic;
    color: #ffffff;
    font-size: 1.2rem;
}


.container_sucursales {
    font-size: 1.5rem;
}

.sucursal {
    width: 50rem;
    display: inline-block;
    margin: 3rem;
}

.lista_sucursales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.sucursal figure {
    position: relative;
    width: 500px;
    height: 300px;
    display: block;
}

.sucursal h3 {
    font-family: Century_Gothic;
    letter-spacing: 0.5rem;
    font-size: 5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
}

.sucursal p {
    display: block;
    font-size: small;
    color: grey;
    font-family: Century_Gothic;
    margin-bottom: 1rem;
}

.sucursal img {
    /* border: 0;   */
    display: block;
    width: inherit;
    height: inherit;

}

.sucursal figcaption {
    position: absolute;
    bottom: 0;
    right: 1rem;
    display: inline-block;
}

.sucursal figcaption a {
    font-family: Century_Gothic;
    text-transform: uppercase;
    font-weight: 800;
    font-size: x-small;


}

.boton_amarillo_chico {
    opacity: 70%;
    width: 5rem;
    margin: auto;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 0;
    border-color: var(--color-amarillo);
}

.boton_amarillo_chico:hover {
    opacity: 100%;
}

.titulo_seccion {
    position: relative;
    color: white;
}

.titulo_carrito a {
    text-decoration: none;
}

.titulo_seccion::before {
    content: '';
    display: inline;
    width: 3rem;
    height: 3rem;
    background-image: url('../imgs/svg/icono-carrito-negro.svg');
    background-size: cover;
    position: absolute;
    z-index: 1;
    left: 40vw;
    top: .2rem;
    border: none;
}

.selector_tipo_articulo {
    display: flex;
    justify-content: center;
}

.selector_tipo_articulo ul li a{
    font-size: 200%;
}

.lista_articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articulo {
    position: relative;
    margin: 1rem 2rem;
    display: block;
}

.articulo img {
    display: block;
    width: 30rem;
}

.articulo figcaption {
    background-color: green;
    position: absolute;
    z-index: 1;
    bottom: .5rem;
    right: .5rem;
}

