.nav_mesas ul {
    display: flex;
    justify-content: center;
}

.nav_mesas ul li a {
    color: black;
}

.selector_sector:not(:nth-last-child(1)) {
    display: inline-flex;
    border-right: .1rem solid var(--color-amarillo);
    border-radius: 0;
    padding: .8rem .8rem;
}

.sector_seleccionado {
    text-decoration: underline;
}

.sectores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sector {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 1rem;
    border-bottom: 1rem solid var(--color-amarillo);
}

.mesa_ {
    margin: 1rem 1rem;
    border-radius: 3rem;
    width: 10rem;
    height: 8rem;
    display: block;
}

.mesa_ a {
    width: 72%;
    height: 71%;
    display: inline-block;
    margin: 1rem 1rem;
    text-decoration: none;
    background-image: url('../imgs/svg/mesa.svg');
    background-size: cover;
    color: black;
    text-align: center;
}


.mesa_libre {
    background-color: rgb(0, 128, 0);
}

.mesa_ocupada {
    background-color: red;
}


.container_acciones_mesa {
    position: relative;
}

.container_acciones_mesa a {
    position: relative;
    left: 1rem;
}

.container_acciones_mesa a::before {
    position: absolute;
    content: '';
    width: 3rem;
    height: 3rem;
    background-image: url('../imgs/svg/flecha-regresar.svg');
    background-size: cover;
    left: .1rem;
    top: 1rem;
}

.info_mesa {
    position: absolute;
    top: 6rem;
    right: 1rem;
    z-index: 1;
}

.container_gestion_mesa {
    padding: 1rem 1rem;
    margin: 5rem 1rem 1rem 1rem;
    min-height: 50rem;
    position: relative;
}


.container_gestion_mesa h3 {
    text-align: center;
    font-size: large;
}

.boton_rojo_gestion_mesa {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.tabla_gestion_mesa {
    border-collapse: collapse;
    border: .1rem solid black;
    margin-top: 7rem;
    margin-bottom: 7rem;
    width: 100%;
    height: 80;
    transition: .5s ease-in-out;
}

.tabla_gestion_mesa:hover {
    background-color: var(--color-amarillo);
}
.tabla_gestion_mesa th {
    font-size: 2rem;
}

.tabla_gestion_mesa td {
    font-size: 1.2rem;
}

.tabla_gestion_mesa th,
.tabla_gestion_mesa td {
    border: .1rem solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
}

.tabla_gestion_mesa tfoot td {
    text-align: center;
    padding-right: 1rem;
}

.icon {
    display: inline-block;
    text-indent: -9999px;
    background-size: cover;
    margin: 1rem auto;
}

.icon_aceptar {
    width: 4rem;
    height: 4rem;
    background-image: url(../imgs/svg/icono-aceptar.svg);
}
.icon_detalle {
    width: 4rem;
    height: 4rem;
    background-image: url(../imgs/svg/icono-ver-detalle.svg);
}

.icon_detalle:hover {
    width: 4rem;
    height: 4rem;
    background-image: url(../imgs/svg/icono-ver-detalle-hover.svg);
}

.icon_aceptar:hover {
    background-image: url(../imgs/svg/icono-aceptar-hover.svg);
}

.icon_rechazar {
    width: 4rem;
    height: 4rem;
    background-image: url(../imgs/svg/icono-rechazar.svg);
}

.icon_rechazar:hover {
    background-image: url(../imgs/svg/icono-rechazar-hover.svg);

}

.plano_sucursal {
    width: 30%;
    height: auto;
    margin: 2rem 2rem;
}

.input_oculto, #nromesa-elegida {
    display: none !important;
}




/* Estilos para la sección de detalles del pedido */
.detalles_pedido {
    width: fit-content;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10rem auto;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

/* Estilos para el número de pedido */
.nro_pedido {
    font-size: 3rem;
    color: #333;
    margin-bottom: 10px;
    background-color: red;
}

/* Estilos para los detalles del pedido */
.detalle {
    margin-bottom: 5px;
    font-size: 2rem;
}

.estado {
    background-color: var(--color-amarillo);
}

@keyframes brillo {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }

.animado {
    animation: brillo 5s infinite;
}


/* Estilos para los botones de acción */
.btn_accion {
    /* display: inline-block; */
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 4px;
}

.btn_accion:hover {
    background-color: #0056b3;
}

