<header>
    <h1><a href="/" class="logo logo_chico" id="menuDesktop">Paw Burger</a></h1>
    <input type="checkbox" name="menuHamburguesa" id="menuHamburguesa">
    <label for="menuHamburguesa" class="logo logo_chico" id="menuMobile">Paw Burger</label>
    <h1><a href="/" class="logo logo_grande_mobile">Paw Burger</a></h1>

    <nav class="container_nav">
        <ul class="nav_menu">
            
            {% include 'parts/nav.view.html' %}

            <li class="opciones_nav">
                <input type="checkbox" name="menuGestionEmpleado" id="checkPerfilEmpleado">
                <label for="checkPerfilEmpleado" class="labelPerfilEmpleado">PERFIL EMPLEADO</label>
                <ul class="submenu submenuEmpleado">
                    {% include 'parts/nav_empleado.view.html' %}
                </ul>
            </li>
        </ul>
        <ul class="nav_usuario">
            <li class="opciones_nav">
                <input type="checkbox" name="menuPerfil" id="menuPerfil">
                <label for="menuPerfil" class="icono_usuario">Perfil Usuario</label>
                <ul class="submenu submenu_">
                    {% include 'parts/nav_perfil.view.html' %}
                </ul>
            </li>
        </ul>
    </nav>
</header>
